{{- $hero       := .Site.Params.hero }}
{{- $title_line_1 := index $hero "title_line_1" }}
{{- $title_line_2 := index $hero "title_line_2" }}
{{- $buttonLink := index $hero "buttonlink" }}

<div class="hero-body">
  <div class="container">
      <div class="container is-fluid landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title_line_1 }}
        </h1>

        <h1 class="title is-1 is-bold is-spaced">
          {{ $title_line_2}}
        </h1>
      </div>
    </br>

      <p class="container has-text-centered is-5 hero-arrow">  
       <span class="icon"> 
          <a class="is-fluid" href="{{ $buttonLink }}">
            <i class="is-2 arrow down"></i>
          </a>
        </span>
      </p>
  </div>
</div>